html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    width: 400px;
}

section {
    margin-top: 30px;
}

hr {
    color: gray;
}

.font-weight-900 {
    font-weight: 900;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.logo {
    width: 120px;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-image {
    width: 400px;
    margin-top: 10px;
}

.user-icon-img {
    width: 40px;
    border-radius: 50%;
}


.post-header p {
    margin: 0;
}


.padding-left-20 {
    padding-left: 20px;
}

.icons-container {
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.button-icon {
    width: 40px;
    padding-left: 5px;
}

.button-icon-heart {
    background-image: url("/images/icon-heart.png");
}

.button-icon-comment {
    background-image: url("/images/icon-comment.png");
}

.button-icon-dm {
    background-image: url("/images/icon-dm.png");
}

.button-icon-heart,
.button-icon-comment,
.button-icon-dm {
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 0;
    background-color: white;
    outline: none;
}

.button-icon-heart:hover,
.button-icon-comment:hover,
.button-icon-dm:hover,
.button-icon-heart:focus,
.button-icon-comment:focus,
.button-icon-dm:focus {
    opacity: 0.5;
}

.post-likes, .user-username-comment {
    margin-left: 13px;
    margin-bottom: 0;
}